<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
  <packageSources>
    <add key="LocalCefsharpRepo" value="http://client1-dev1-win-a02.websys.aol.com/NugetRepo/nuget/" />
  </packageSources>
</configuration>